.auth-bg {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/images/Frame\ 427319333.png');
    background-position: center;
    background-size: 102% 102%;
    font-family: "Nunito Sans", sans-serif;

}

.logo-img {
    position: fixed;
    top: 20px;
    left: 20px;
}

.container-body {
    color: white;
     /* width: 30% !important; */
}

#form h2 {
    text-align: center;
    font-size: 34px;
}

#form input[type='text'],
#form input[type='tel'],
#form input[type='password'] {
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid white;
    background: transparent;
    border-radius: 4px;
    width: 100%;
    outline-color: white;
    color: white;
}


#loginBtn {
    box-sizing: border-box;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    border: none;

}

#notreg-label {
    color: #828282;
}

#crtAcc {
    color: #00C2FF !important;
    margin: 0px 10px;
}

.pincode-input-text {
    margin: 0px 6px 0px 3px !important;

}

.rem-ForgPaswrd-Cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgetPasw,
#crtAcc {
    text-decoration: none;
    color: white;
}

#remLabel {
    color: rgb(193, 193, 193);
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 25%;
    }
}
@media (min-width: 100px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 335px) {
    .container {
        width: 75%;
    }
}

@media (min-width: 500px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 650px) {
    .container {
        width: 50%;
    }
}
@media (min-width: 1000px) {
    .container {
        width: 30%;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 22%;
    }
}

.f-w-b {
    font-weight: bold;
}
.f-w-l {
    font-weight: lighter;
}
.f-w-r {
    font-weight: normal;
}

.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

