.nav-logo-img {
    width: 50px;
    height: 40px;
}

.dashboard {
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.nav-avatar {
    margin: 0px 20px
}

.dropdown-menu[data-bs-popper] {
    left: -55px !important;
    padding: 3px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #fe0202 !important;
    color: #fff !important;
    border-radius: 7px !important;
    padding: 5px 10px !important;
}

.bannerCont {
    background: rgb(94, 0, 171);
    background: linear-gradient(90deg, rgba(94, 0, 171, 1) 0%, rgba(113, 0, 116, 1) 35%, rgba(1, 116, 76, 1) 100%);
    border-radius: 8px;
    text-align: center;
}

.subscribeBtn {
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.subscribeBtn:hover {
    transform: scale(1.04);
}

.bannerCont {
    color: #fff;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    color: white;
    height: 200px;
}

.bannerCont>div:nth-child(1) {
    top: 25%;
    position: relative;
}

.p-15 {
    padding: 15px;
}

.thead>th {
    background-color: #000 !important;
}

.nav-btn {
    background-color: #000;
    border: 0px solid #000;
}

.modal-head {
    justify-content: center;
    border: 0px !important;
}


#sesCountCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sesCountCont>button {
    /* width: 45px;
    height: 45px;
    border-radius: 100px;
    font-weight: lighter;
    color: black;
    cursor: pointer;
    transition: 0.4s; */
    border: 0px;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    background: none;


}

#sesCountCont>button :hover {
    transform: scale(1.16);
}

.modal-bg {

    /* display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding: 30px 20px; */
    padding: 25px 40px;
    background-color: black !important;
    border-radius: 10px;
    box-shadow: 0px -7px 189px -35px rgba(255, 99, 255, 1);
    color: white !important;
    text-align: center;
    box-shadow: 3px -4px 159px -27px rgba(255, 92, 255, 1);

}

.modal-botton-bg {
    background: rgb(94, 0, 171);
    background: linear-gradient(90deg, rgba(94, 0, 171, 1) 0%, rgba(113, 0, 116, 1) 35%, rgba(1, 116, 76, 1) 100%);

}

.m-0-10 {
    margin: 0px 10px;
}

.m-top {
    top: 15vh;
}

.mobile-border {
    border-top: 1px solid #fff;
    padding-top: 15px;
    margin-top: 15px;
}

/* @media (max-width: 576px) {
    .non-mobile {
        display: none;
    }
} */



.signout i {
    padding: 0px 5px 0px 0px;
}

.ul-li{
    border: 1px solid #fff !important; 
    padding: 5px !important;
}

.user-btn{
    background-color: #000 !important;
    color: #fff !important;
    border: 0px !important;
    font-weight: normal !important;
    text-transform: capitalize;
    font-size: 15px !important;
    letter-spacing: 2px;
}

.bg-black {
    background-color: #000 !important;
}
@media (max-width: 575px) {
    .non-mobile {
        display: none;
    }

    .mobile {}
}

@media (min-width: 576px) {

    .mobile {
        display: none;
    }
}