body {
    overflow: auto !important;
    background-color: black !important;
}

.page-item {
    margin: 0px 5px;
}

.page-item .page-link {
    border-radius: 100% !important;
    color: #000;
    background-color: #ddd;
    padding: 3px 9px;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
}

.page-item:first-child .page-link {
    border-radius: 100% !important;
}

.active>.page-link {
    color: #000 !important;
    background-color: #fff !important;
}

.table-dark {
    --bs-table-color: #fff !important;
    --bs-table-bg: #000 !important;
}

.f-w-b {
    font-weight: bold;
}

.f-w-l {
    font-weight: lighter;
}

.f-w-r {
    font-weight: normal;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-32 {
    font-size: 32px;
}

.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 300;
}

.fs-80 {
    font-size: 80px;
}

/* .loader svg {
    position: absolute;
    top: 100;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 9999;
    justify-content: center;
    text-align: center;
    right: 0;
    bottom: 0;
    margin: auto;
    /* background-color: #000; 

} */
.loader_parent {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    font-weight: bold;
}

.loader_parent.blurred {
  display: block;
}

.blurred ~ * {
  filter: blur(3px);
}
.f-white {
    color: #fff;
}

.signout {
    background-color: red !important;
    border-radius: 7px !important;
    padding: 5px 10px !important;
}

.page-item .active .page-link {
    background: #fff;
    color: #000;
    font-weight: bold;

}